version: '1'
services:
    db:
        image: mysql
        ports:
          - "3306:3306"
        environment:
          - MYSQL_DATABASE=moodle
          - MYSQL_ROOT_PASSWORD=moodle
          - MYSQL_USER=moodle
          - MYSQL_PASSWORD=moodle
    moodle:
        image: jhardison/moodle
        links:
          - db
	ports: 
          - "8080:80"
	environment:
          - MOODLE_URL=http://127.0.0.1:8080
